header {
    max-width: 850px;
    margin: 0 auto;
}

header > h1 {
    padding: 1em;
    background-color: #f3f5f6;
}

main {
    max-width: 650px;
    margin: 0 auto;
}
article {
    padding: 0.5em;
}

button {
    font-size: small !important;
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity));
    padding: 0.5rem;
    --tw-bg-opacity: 1;
    background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
    --tw-border-opacity: 1;
    border-color: rgba(37, 99, 235, var(--tw-border-opacity));
    border-width: 1px;
    border-radius: 0.25rem;
    cursor: pointer;
}

#debug {
    font-size: small;
    color: grey;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.resultat {
    color: green;
}

